@{

    Page.Title = "Delete Scripture";
    Layout = "~/_Layout.cshtml";

    Validation.RequireField("width", "You must enter a width!");
    Validation.RequireField("depth", "You must enter a depth!");
    Validation.RequireField("material", "You must enter a surface material!");
    Validation.RequireField("rush", "You must enter the number of rush order days!");
    Validation.RequireField("drawers", "You must enter a number of drawers!");
    Validation.RequireField("name", "You must enter a customer name!");

    var width = "";
    var depth = "";
    var material = "";
    var rush = "";
    var drawers = "";
    var name = "";

    if (IsPost && Validation.IsValid())
    {
        width = Request.Form["width"];
        depth = Request.Form["depth"];
        material = Request.Form["material"];
        rush = Request.Form["rush"];
        drawers = Request.Form["drawers"];
        name = Request.Form["name"];

        //var db = Database.Open("MegaDeskQuotes");
        //var insertCommand = "INSERT INTO Quotes (Width, depth, material, rush, drawers, name) Values(@0, @1, @2, @3, @4, @5, @6)";
        //db.Execute(insertCommand, width, depth, material, rush, drawers, name);
        //Response.Redirect("~/Success");
    }
}

    <h2>Add Quote</h2>
    @Html.ValidationSummary()
    <form method="post">
        <a href="~/ViewQuotes">View Quotes</a>
        <fieldset>
            <legend>Quote Information</legend>
            <p>
                <label for="width">Width:</label>
                <input type="number" name="width" value="@Request.Form["width"]" />
                @Html.ValidationMessage("width")
            </p>

            <p>
                <label for="depth">Depth:</label>
                <input type="number" name="depth" value="@Request.Form["depth"]" />
                @Html.ValidationMessage("depth")
            </p>

            <p>
                <label for="material">Surface Material:</label>
                <input type="text" name="material" value="@Request.Form["material"]" />
                @Html.ValidationMessage("material")
            </p>

            <p>
                <label for="rush">Rush Order Days:</label>
                <input type="number" name="rush" value="@Request.Form["rush"]" />
                @Html.ValidationMessage("rush")
            </p>

            <p>
                <label for="drawers">Number of Drawers:</label>
                <input type="number" name="drawers" value="@Request.Form["drawers"]" />
                @Html.ValidationMessage("drawers")
            </p>

            <p>
                <label for="name">Customer Name:</label>
                <input type="text" name="name" value="@Request.Form["name"]" />
                @Html.ValidationMessage("name")
            </p>

            <p><input type="submit" name="buttonSubmit" value="Add Quote" /></p>
        </fieldset>
    </form>
