@{

    Page.Title = "Add Quote";
    Layout = "~/_Layout.cshtml";

    Validation.RequireField("width", "You must enter a width!");
    Validation.RequireField("depth", "You must enter a depth!");
    Validation.RequireField("material", "You must enter a surface material!");
    Validation.RequireField("rush", "You must enter the number of rush order days!");
    Validation.RequireField("drawers", "You must enter a number of drawers!");
    Validation.RequireField("customer", "You must enter a customer name!");

    var customer = "";
    int width = 0;
    int depth = 0;
    var material = "";
    int drawers = 0;
    int rush = 0;
    decimal totalPrice = 0;

    if (IsPost && Validation.IsValid())
    {
        width = Request.Form["width"].AsInt();
        depth = Request.Form["depth"].AsInt();
        material = Request.Form["material"];
        rush = Request.Form["rush"].AsInt();
        drawers = Request.Form["drawers"].AsInt();
        customer = Request.Form["customer"];

        Desk desk = new Desk();

        desk.Width = width;
        desk.Depth = depth;
        desk.DeskMaterial = material;
        desk.Drawers = drawers;
        DeskQuote deskQuote = new DeskQuote(desk);
        deskQuote.RushOrder = rush;
        deskQuote.QuotePrice = deskQuote.GetQuote();

        totalPrice = deskQuote.QuotePrice;

        var db = Database.OpenConnectionString("Data Source=|DataDirectory|\\MegaDeskQuotes.sdf", "System.Data.SqlServerCe.4.0");
        var insertCommand = "INSERT INTO Quotes (CustomerName, Width, Depth, Material, Drawers, RushOrder, Total) Values(@0, @1, @2, @3, @4, @5, @6)";
        db.Execute(insertCommand, customer, width, depth, material, drawers, rush, totalPrice);
        Response.Redirect("~/ViewQuotes");
    }
}

    <h2>Add Quote</h2>
    @Html.ValidationSummary()
    <form method="post">
        <fieldset>
            <legend>Quote Information</legend>

            <p>
                <label for="customer">Customer:</label>
                <input type="text" name="customer" value="@Request.Form["customer"]" />
            </p>

            <p>
                <label for="width">Width:</label>
                <input type="number" min="24" max="96" name="width" value="@Request.Form["width"]" />
            </p>

            <p>
                <label for="depth">Depth:</label>
                <input type="number" min="12" max="48" name="depth" value="@Request.Form["depth"]" />
            </p>

            <p>
                <label for="material">Material:</label>
                <select type="text" name="material" value = "@Request.Form["material"]">
                    <option value="Laminate">Laminate</option>
                    <option value="Oak">Oak</option>
                    <option value="Rosewood">Rosewood</option>
                    <option value="Veneer">Veneer</option>
                    <option value="Pine">Pine</option>
                </select>
                @Html.ValidationMessage("material")
            </p>

            <p>
                <label for="drawers">Drawers:</label>
                <input type="number" min="0" max="7" name="drawers" value="@Request.Form["drawers"]" />
            </p>

            <p>
                <label for="rush">Rush Order:</label>
            </p>
            <div>
                <input type="radio" id="rush3"
                       name="rush" value="3">
                <label for="rush3">3 Days</label>

                <input type="radio" id="rush5"
                       name="rush" value="5">
                <label for="rush5">5 Days</label>

                <input type="radio" id="rush7"
                       name="rush" value="7">
                <label for="rush7">7 Days</label>

                <input type="radio" id="rush14"
                       name="rush" value="14">
                <label for="rush14">14 Days</label>
            </div>

            <p><input type="submit" name="buttonSubmit" value="Add Quote" /></p>
        </fieldset>
    </form>
    <p><a href="~/ViewQuotes">Return to View Quotes</a></p>
